html {
    font-family: 'Quicksand', sans-serif;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    background-color: aliceblue;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    color: rgb(50, 50, 50);
    text-align: justify;
}

strong {
    color: rgb(48, 161, 241);
    font-weight: 700;
}

header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgb(186, 225, 253);
    margin-bottom: 30px;
    padding: 20px 40px 120px 40px;
}

h1 {
    margin: 0;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    opacity: 0.9;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-text {
    font-size: 22px;
    font-weight: 600;
}

.logo {
    width: 150px;
    height: auto;
}

.nav-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
    margin-top: -10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 30px;
    font-size: 20px;
    margin-right: 10px;
}

.navi {
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 3px solid rgb(48, 161, 241);
    padding: 5px 10px;
    gap: 100px;
    text-decoration: none;
}

.navi:hover {
    background-color: rgb(48, 161, 241);
    color: white;
    transition: all 0.3s ease;
}

.burger-menu {
    display: none;
}

.burger-menu .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin: 4px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 50;
    display: none;
}

#overlay.active {
    display: block;
}

main {
    padding: 20px 40px;
}

section {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(222, 240, 253);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 25px 30px;
    margin-bottom: 30px;
}

h3 {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    color: rgb(50, 50, 50);
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-left: none;
}

h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: rgb(48, 161, 241);
    width: calc(100% + 50px);
    left: 0;
}

.profile-section {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 30px auto;
    border-radius: 100px;
    box-shadow: 0 4px 10px rgb(186, 225, 253);
}

.profile-wrapper {
    text-align: center;
}

.profile-wrapper img {
    width: 600px;
    height: auto;
    border-radius: 100px;
    border: none;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    object-fit: cover;
    max-width: 100%;
}

.profile-contact-info {
    margin-top: 20px;
    padding-top: 15px;
}

.profile-contact-info p {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0;
    color: rgb(50, 50, 50);
}

.profile-contact-info p strong {
    color: rgb(48, 161, 241);
}

.section-images {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid rgb(230, 230, 230);
}

.section-images img {
    width: 100%;
    max-width: 400px;
    flex-basis: 250px;
    flex-grow: 1;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    aspect-ratio: 16/10;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.project-card {
    flex: 1 1 300px;
    max-width: 48%;
    background-color: rgb(248, 252, 255);
    box-shadow: 0 4px 10px rgb(186, 225, 253);
    border-radius: 8px;
    padding: 20px;
    border: 1px solid rgb(222, 240, 253);
    box-sizing: border-box;
    border-left: none;
}

.project-card h4 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(48, 161, 241);
    margin-top: 0;
    margin-bottom: 10px;
}

.project-card p {
    text-align: left;
}

.project-card .image-wrapper {
    text-align: center;
    margin-top: 15px;
}

.project-card .image-wrapper img {
    width: 300px;
    height: auto;
    max-height: auto;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 40px 20px 40px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 10px 0;
    font-size: 18px;
    background-color: rgb(222, 240, 253);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(186, 225, 253);
    margin-top: 30px;
}

.social-icons svg {
    width: 28px;
    height: 28px;
    fill: rgb(50, 50, 50);
    transition: transform 0.3s ease, fill 0.3s ease;
}

.social-icons a:hover svg {
    transform: translateY(-5px) scale(1.1);
    fill: rgb(48, 161, 241);
}

.copyright {
    margin-top: 10px;
    font-size: 9px;
    color: rgb(0, 0, 0);
    text-align: center;
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0;
        box-shadow: none;
    }

    header,
    main {
        padding: 10px 15px;
    }

    header {
        padding: 20px 15px 100px 15px;
    }

    header h1 {
        font-size: 40px;
    }

    header h2 {
        font-size: 17px;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: -2500px;
        width: 320px;
        height: 100%;
        background-color: rgb(48, 161, 241);
        padding: 20px;
        z-index: 100;
        transition: right 0.3s ease;
        margin-right: -1px;
        font-size: 20px;
    }

    nav.show {
        right: 0;
    }

    .navi {
        opacity: 0;
        color: rgb(238, 238, 238);
        border: 3px solid rgb(255, 255, 255);
        transition: opacity 0.3s ease;
    }

    nav.show a.navi {
        opacity: 1;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        height: 30px;
        cursor: pointer;
        z-index: 250;
        margin-right: 20px;
    }

    .burger-menu.active {
        position: fixed;
        top: 25px;
        right: 20px;
        margin-right: 0;
    }

    .burger-menu.active .bar {
        background-color: rgb(255, 255, 255);
    }

    .burger-menu .bar {
        transition: all 0.3s ease;
    }

    .burger-menu.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    section {
        padding: 20px 15px;
    }

    h3::after {
        width: 100%;
    }

    .two-column-section {
        flex-direction: column-reverse;
    }

    .projects-container {
        flex-direction: column;
        gap: 15px;
    }

    .project-card {
        max-width: 100%;
    }

    footer {
        padding-left: 15px;
        padding-right: 15px;
    }
}