:root{
    --primary-color: white;
    --secondary-color: rgb(186, 225, 253)
    --font-family: 'Quicksand', sans-serif;
    --heading-font: 'Quicksand', cursive;
}

html{
    font-family: Quicksand, sans-serif;
    background-color: aliceblue;
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    margin: 0;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    

}
.logo img {
    height: 110px;
    width: auto;
    border-radius: 50%;
}

.showcase {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 30px;
    margin: 40px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
   
}

@keyframes aparitieDinStanga {
    from {
        opacity: 0; 
        transform: translateX(-100px); 
    }
    to {
        opacity: 1;
        transform: translateX(0); 
    }
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
    gap: 20px;
    border-right: 3px solid rgb(35, 120, 180);
    padding-right: 20px;
    animation: aparitieDinStanga 0.5s ease-out forwards;
}

.right {
    position: relative;
    opacity: 0;
    animation: aparitieDinStanga 3s ease-out  forwards;
}

.right img {
    width: 60%;
    height: auto;
    object-fit: cover;
    opacity: 0.7;
    transition: 0.4s ease;
}

.right img:hover {
    opacity: 1;
    transform: scale(1.07);
}



@keyframes buton {
   0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

 .btn {
   position: relative;
   padding: 10px 20px;
   
   font-size: 16px;
   color: black;
   text-decoration: none;
   border: none;

   overflow: hidden;
   border-radius: 2px;
   z-index: 1;
   transition: 0.3 ease;
 }

.btn::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%; 
    height: 300%;
    background: conic-gradient(
        aliceblue, 
        aliceblue, 
        aliceblue, 
        rgb(35, 120, 180)
    );

    animation: buton 1.5s linear infinite;
    z-index: -2;
}

.btn::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: white;
    border-radius: 2px;
    z-index: -1;
    transition: 0.3s ease;
}

.btn:hover{
color: rgb(35, 120, 180);
transform: scale(1.1);
color: white;
transition: 0.3s ease;
}

.btn:hover::before{
    animation: none;
    opacity: 0;
}

.btn:hover::after{
    background: rgb(35, 120, 180);
}